body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center
}

nav ~ a {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

figure  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 80%;
}

